@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

li {
  color: rgb(0, 0, 0);
  width: 100px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
}

li:hover {
  background-color: rgb(0, 174, 255);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  border-width: 1;
  font-weight: bolder;
  padding: 1px;
}
